<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/plyr.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <link rel="stylesheet" href="css/search.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css" integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/navstyle.css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <nav class="navbar bg-body-tertiary">
        
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html"><img src="img/trending/ju_taime.png" style="width: 150px;" alt="logo"></a>
            <div class="s128">
                <form>
                    <div class="inner-form">
                        <div class="row">
                            <div class="input-field first" id="first">
                                <input class="input" id="inputFocus" type="text" placeholder="방송인 검색" />
                                <button class="clear" id="clear"></button>
                            </div>
                        <a href="./login.html"><i class="fa-solid fa-user" style="font-size: 40px; margin: 10px;"></i></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	    <div class="container-fluid">
	    
	      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="fa fa-bars"></span> Menu
	      </button>
	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav m-auto">
	        	<li class="nav-item"><a href="broad-details.html" class="nav-link">Feed</a></li>
	        	<li class="nav-item dropdown">
            </li>
	        	<li class="nav-item"><a href="media-lists.html" class="nav-link">미디어</a></li>
	        	<li class="nav-item active"><a href="fanart-details.html" class="nav-link">팬아트</a></li>
	        </ul>
	      </div>
	    </div>
	</nav>

    <!-- Header End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details spad">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-12">
                    <div class="lightbox-gallery">
                        <div class="container">
                            <div class="intro">
                                <h2 class="text-center" style="margin-bottom: 20px;">팬아트 게시판</h2>
                                <p class="text-center">팬아트 게시판에 올리는 작품들은 썸네일,영상편집 등에 사용될 수 있습니다.</p>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-3 margin" style="padding-bottom: 20px;">
                                    <div class="card">
                                        <a href="" class="text-dark">
                                            <img src="img/blog/blog-1.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <h6 class="card-title">제목</h6>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding-bottom: 20px;">
                                    <div class="card">
                                        <a href="" class="text-dark">
                                            <img src="img/blog/blog-1.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <h6 class="card-title">제목</h6>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding-bottom: 20px;">
                                    <div class="card">
                                        <a href="" class="text-dark">
                                            <img src="img/blog/blog-1.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <h6 class="card-title">제목</h6>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding-bottom: 20px;">
                                    <div class="card">
                                        <a href="" class="text-dark">
                                            <img src="img/blog/blog-1.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <h6 class="card-title">제목</h6>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-3" style="padding-bottom: 20px;">
                                    <div class="card">
                                        <a href="" class="text-dark">
                                            <img src="img/blog/blog-1.jpg" class="card-img-top">
                                            <div class="card-body">
                                                <h6 class="card-title">제목</h6>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav th:with="start=${(items.number/maxPage)*maxPage+1},end=(${(items.totalPages == 0) ? 1 : (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) : items.totalPages)})" aria-label="Page navigation example">
                            <ul class="pagination d-flex justify-content-center">
                              <li class="page-item" th:classappend="${items.first}?'disabled'">
                                  <a th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number-1}}" class="page-link">
                                      <span>이전</span>
                                  </a>
                              </li>
                              <li class="page-item" 
                                  th:each="page: ${#numbers.sequence(start, end)}"
                                  th:classappend="${items.number eq page-1}?'active':''">				    	
                                  <a class="page-link" th:inline="text"
                                  th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${page-1}}">[[${page}]]</a>
                              </li>
                              <li class="page-item" th:classappend="${items.last}?'disabled'">
                                  <a class="page-link"
                                  th:href="@{'/' + '?searchQuery=' + ${itemSearchDto.searchQuery} + '&page=' + ${items.number+1}}">다음</a>
                              </li>
                            </ul>
                      </nav>
                      <button type="button" style="float: right;">업로드</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- Blog Details Section End -->

        <!-- Footer Section Begin -->
        <footer class="footer">
            <div class="page-up">
                <a href="#" id="scrollToTopButton"><span class="arrow_carrot-up"></span></a>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="footer__logo">
                            <a href="./index.html"><img src="img/trending/ju_taimeW.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="footer__nav">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <p style="color: white;"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                          Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | made with EZEN <i class="fa fa-heart" aria-hidden="true"></i></a>
                          <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
        
                      </div>
                  </div>
              </div>
          </footer>
          <!-- Footer Section End -->

          <!-- Search model Begin -->
          <div class="search-model">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-switch"><i class="icon_close"></i></div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Search here.....">
                </form>
            </div>
        </div>
        <!-- Search model end -->

        <!-- Js Plugins -->
        <script src="js/jquery-3.3.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/player.js"></script>
        <script src="js/jquery.nice-select.min.js"></script>
        <script src="js/mixitup.min.js"></script>
        <script src="js/jquery.slicknav.js"></script>
        <script src="js/owl.carousel.min.js"></script>
        <script src="js/main.js"></script>
        <script>
            var btnDelete = document.getElementById('clear');
            var inputFocus = document.getElementById('inputFocus');
            //- btnDelete.on('click', function(e) {
            //-   e.preventDefault();
            //-   inputFocus.classList.add('isFocus')
            //- })
            //- inputFocus.addEventListener('click', function() {
            //-   this.classList.add('isFocus')
            //- })
            btnDelete.addEventListener('click', function(e)
            {
              e.preventDefault();
              inputFocus.value = ''
            })
            document.addEventListener('click', function(e)
            {
              if (document.getElementById('first').contains(e.target))
              {
                inputFocus.classList.add('isFocus')
              }
              else
              {
                // Clicked outside the box
                inputFocus.classList.remove('isFocus')
              }
            });

            // function test(){
            //     console.log("a");
            //     var bb = document.querySelector(".lb-number");
            //     bb.textContent = "btn";
            // }

        </script>
    </body>

    </html>